<button class="button action-button {{if scheduledToSend 'disabled'}}"
    disabled={{scheduledToSend}}
    onclick={{action 'sendWithDelay'}}>
  {{yield scheduledToSend}}
</button>
{{#if scheduledToSend}}
  <button class="button cancel-button {{if canSend 'disabled'}}"
      disabled={{canSend}}
      onclick={{action 'cancel'}}>x</button>
{{/if}}
